@{
    ViewData["Title"] = "Dashboard";
}

<div class="d-flex align-items-end gap-3 flex-wrap">
    <div class="card card-dark shadow rounded p-3 border border-dark text-dark">
        <div class="card-img-top">img here</div>
        <p class="card-title">product name</p>
        <p class="card-text">amount left</p>
    </div>
    <p>link to show more products</p>
</div>
<div class="d-flex flex-column mt-3">
    <h3 class="fw-bold "><u>Recent Orders</u></h3>
    <div class="ps-5">
        <p>temp comment</p>
        <p>temp comment</p>
        <p>temp comment</p>
        <p>temp comment</p>
        <p>temp comment</p>
    </div>
    <p class="ps-5">Show more orders</p>
</div>
<div class="d-flex flex-column mt-3">
    <h3 class="fw-bold "><u>New Customers</u></h3>
    <div class="ps-5">
        <p>temp comment</p>
        <p>temp comment</p>
        <p>temp comment</p>
        <p>temp comment</p>
        <p>temp comment</p>
    </div>
    <p class="ps-5">Show more customers</p>
</div>